### Week 3 - Part II: Create Dataframe with Location

Import libraries

In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from urllib.request import urlopen as uReq
import requests
from tabulate import tabulate

Read the url using "requests"

In [3]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

Use BeautifulSoup to read the table in the wikipedia page

In [12]:
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
df_0 = df[0]

1 - Use groupby to combine the Postcodes <br>
2 - Remove "Not assigned" Borough <br>
3 - Replace "Not assigned" Neighbourhood with Borough

In [13]:
df =df_0.groupby('Postcode').agg({'Borough': 'first','Neighbourhood':', '.join}).reset_index()
df = df[df['Borough'] != "Not assigned"]
i_not_assig = df.index[df['Neighbourhood'] == "Not assigned"].tolist()
df['Neighbourhood'][i_not_assig] = df['Borough'][i_not_assig]

In [14]:
df.head()

  Postcode      Borough                           Neighbourhood
1      M1B  Scarborough                          Rouge, Malvern
2      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E  Scarborough       Guildwood, Morningside, West Hill
4      M1G  Scarborough                                  Woburn
5      M1H  Scarborough                               Cedarbrae

In [15]:
df.shape

(103, 3)

# Location

Use the data file, and change Postal Code to Postcode

In [21]:
df_loc = pd.read_csv("Geospatial_Coordinates.csv")
df_loc.rename(columns = {'Postal Code':'Postcode'}, inplace = True)

In [22]:
df_loc.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge the two dataframes

In [24]:
df_merge = pd.merge(df_loc, df, on='Postcode')

In [25]:
df_merge.shape

(103, 5)

In [26]:
df_merge.head()

,Postcode,Latitude,Longitude,Borough,Neighbourhood
0,M1B,43.806686,-79.194353,Scarborough,"Rouge, Malvern"
1,M1C,43.784535,-79.160497,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae